
@font-face {
    font-family: "Seven Segment";
    src: url(Seven\ Segment.ttf);
}

:root {
    --main-bg-color: #242424;
    --primary-color: #fafafa;
    --secondary-color: #ff693c;
    --btn-transition: 500ms;
}

body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    background: var(--main-bg-color);
    box-sizing: border-box;
    font-size: 18px;
    color: #3b3b3b;
    font-family: Helvetica, sans-serif;
}


#main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer {
    width: 100%;
    height: 200px;
    background: var(--main-bg-color);
    border-top: 1px solid var(--primary-color);
}

#calculator {
    width: 375px;
    height: 600px;
    min-height: 600px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 1em;
    padding: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#screen-container {
    height: 20%;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

#buttons-container {
    height: 80%;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 0.3em;
}

#screen {
    height: 100px;
    width: 100%;
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.1em;
    display: flex;
    justify-content: end;
    align-items: center;
    text-transform: uppercase;
    font-family: "Seven Segment";
    letter-spacing: 1px;
    font-size: 50px;
    padding: 0 10px;
    
}

#buttons {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: dense;
    gap: 10px;
}

.btn {

    border-radius: 0.4em;
    font-size: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: none;
    transition: var(--btn-transition);
}

.btn-dbl {
    grid-column: span 2;
}

.btn:hover {
    cursor: pointer;
}

.btn.btn-primary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn.btn-primary:hover {
    color: var(--main-bg-color);
    background-color: var(--primary-color);
    
}

.btn.btn-secondary {
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}

.btn.btn-secondary:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}